.pie {
    margin: 20px;
  }
  
  .pie text {
    font-family: "Verdana";
    fill: "black";
  }
  
  .pie .name-text{
    font-size: 1em;
  }
  
  .pie .value-text{
    font-size: 3em;
  }


.bar{
  margin: 20px;
}

.bar text {
  font-family: "Verdana";
  fill: "black";
}

.bar .name-text{
  font-size: 1em;
}

.bar .value-text{
  font-size: 3em;

}


body {
  background-color: snow;
}
h1 {
  color: black;
  font-family: "Verdana";
}

h2{
  color: black;
  font-family: "Verdana";
}

h3{
  color: black;
  font-family: "Verdana";
}
p {
  color: black;
  font-family: "Verdana";
}